##AdvanceInstallers
**/*-cache/**
**/installers/**/images/**
**/Builds/**
**/.vb/**
**/.svn/**
**/.metadata/**
**/.recommenders/**

front\IctsClient\CAInterface.tccnxn
front\IctsClient\Headlines.tccnxn
front\IctsClient\ICTSAdmin.tccnxn
front\IctsClient\ReportGenerator.tccnxn


front\jms\Reports\AATDReport\AATDReport.StructureMap.config
front\jms\Reports\AccountReport\AccountReport.StructureMap.config
front\jms\Reports\AllocationChangeReport\AllocationChangeReport.StructureMap.config
front\jms\Reports\BankPositionReport\BankPositionReport.StructureMap.config
front\jms\Reports\ExcelPositionReport\configSQL.txt
front\jms\Reports\ICTSReports\LIMPriceLoader.exe.config
front\jms\Reports\ICTSReports\ForeHedge.exe.config
front\jms\Reports\ICTSReports\FxAllService.exe.config
front\jms\Reports\ICTSReports\ClearedTradesMatching.exe.config
front\jms\Reports\ICTSReports\FXRateUpdate.exe.config
front\jms\Reports\ICTSReports\InventoryReport.exe.config
front\jms\Reports\ICTSReports\EuropeanBorrowingBaseReport.exe.config
front\jms\Reports\ICTSReports\UnlimitedHedgeReport.exe.config
front\jms\Reports\ICTSReports\TreasuryReport.exe.config
front\jms\Reports\ICTSReports\FillAtSettle.exe.config
front\jms\Reports\ICTSReports\BorrowingBaseReport.exe.config
front\jms\Reports\ICTSReports\EConfirmService.exe.config
front\jms\Reports\ICTSReports\ICTSMessaging.exe.config
front\jms\Reports\ICTSReports\KiodexData.exe.config
front\jms\Reports\TreasuryPaymentReport\TreasuryPaymentReport.StructureMap.config
front\jms\Reports\UserChangesReport\UserChangesReport.exe.config
front\jms\Tools\PBSMonitorService.Net.exe.config
front\jms\Tools\ActualUploaderTools\AutoDataUploader\AutoDataUploader.exe.config
front\jms\Tools\ActualUploaderTools\ExcelMapGenerator\ExcelMapGenerator.exe.config
front\jms\Tools\ActualUploaderTools\ExcelToDatabaseUploader\ExcelToDatabaseUploader.exe.config
front\jms\Tools\Applauncher\AppLauncher.exe.config
front\jms\Tools\DocumentGeneratorUtility\DocumentGeneratorUtility.exe.config
front\jms\Tools\DocumentGeneratorUtilityForSSRS\DocumentGeneratorUtilityForSSRS.exe.config
front\jms\Tools\PBSMonitorService.Net\PBSMonitorService.Net.exe.config

front\logistics\Applications\Collateral\Collateral.exe.config
front\logistics\Applications\CommAccount\CommAccount.exe.config
front\logistics\Applications\DocumentGenerator\DocumentGenerator.exe.config
front\logistics\Applications\Logistics\LogisticsShell.exe.config
front\logistics\Applications\RiskManager\RiskManager.exe.config
front\logistics\Applications\TradeCapture\TradeCapture.exe.config


java\jboss-eap-6.2.0\standalone\configuration\CostsUploader.Properties
java\jboss-eap-6.2.0\standalone\configuration\ICTSConfigData.xml
java\jboss-eap-6.2.0\standalone\configuration\standalone.xml
java\jboss-eap-6.2.0\standalone\configuration\SymphonyClientServerConf\ClientMapping.xml

jms\tradeaggregator\TradeAggregator.prop
jms\tradeaggregator\Clients\Client.xml
jms\tradeaggregator\Clients\fix\fix.ini
